  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    --card-color: #181a1b; 
    --bg-color:#1c1e1f;
    --divider: #292c2e;
    --user-img-border: #464646;
    --roundedcard: 10px;
  }
  body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: white;
  }
  a, i {
    color: white;
  }
  ul[role='list'],
  ol[role='list'], li, ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  html:focus-within {
    scroll-behavior: smooth;
  }
  .divider {
    background-color: var(--divider);
    height: 1px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
  }
  .v-divider {
    background-color: var(--divider);
    width: 1px;
    height: 75%;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
  }
  .main-grid {
    display: grid;
    grid-template-columns: max-content minmax(500px, 1fr);
    grid-template-rows: 100px 100vh 50px;
    min-width: 800px;
  }
  
  .header {
    display: grid;
    grid-column: 2 / 4;
    grid-template-columns: 1fr min-content;
    align-items: center;
    padding: 15px;
    margin: 15px;
    border-radius: var(--roundedcard);
  }
  .navbar-links {
    height: 100%;
    display: flex;
    gap: 15px;
    grid-column: 1 / 2;
  }
  .user {
    display: flex;
    gap: 15px;
    grid-column: 2 / 3;
    align-items: center;
    height: 100%;
  }
  .user img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
  }
  .user-info {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .sidebar {
    background-color: var(--card-color);
    grid-row: 1 / -1;
    padding: 25px;
  }
  .upper-sidebar {
    display: grid;
    gap: 20px;
    grid-auto-rows: max-content;
  }
  .upper {
    display: flex;
    gap: 5px;
  }
  .lower-sidebar {
    display: grid;
    gap: 20px;
    grid-auto-rows: max-content;
  }
  .lower {
    display: flex;
    gap: 5px;
  }


  .main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 300px;
  }
  .projects {
    display: grid;
    gap: 20px;
    grid-auto-rows: min-content;
    grid-column: 1 / 2;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 15px;
  }
  .projects-title {
    grid-column: -1 / 1;
  }
  .project-holder {
    background-color: var(--card-color);
    border-radius: var(--roundedcard);
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .project-holder > img {
    border-radius: 5px;
    height: 75px;
    object-fit: cover;
  }
  .project-holder > h3, .project-holder > p {
    width: fit-content;
  }
  .icons {
    display: flex;
    gap: 5px;
    justify-content: right;
  }

  .info-bar {
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: min-content;
  }
  .announcements {
    display: grid;
    grid-auto-rows: min-content;
    margin: 15px 20px 15px 7.5px;
  }
  .announcements-title {
    grid-column: -1 / 1;
    grid-row: -1 / 1;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .announcements-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
  }
  #announcements-holder {
    background-color: var(--card-color);
    border-radius: var(--roundedcard);
    display: grid;
    grid-auto-rows: min-content;
    padding: 15px;
  }

  .trending {
    display: grid;
    grid-auto-rows: min-content;
    margin: 15px 20px 15px 7.5px;
  }
  .trending-title {
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .trending-holder {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  #trending-holder {
    background-color: var(--card-color);
    border-radius: var(--roundedcard);
    display: grid;
    grid-auto-rows: min-content;
    padding: 15px;
  }
  .trending-text {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding-left: 15px;
  }
  .trending-image {
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
    width: 50px;
  }

  .shadowbox {
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.282);
  }