  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@300;400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@300;400;500;700&display=swap');
  @import url('https://www.w3schools.com/w3css/4/w3.css');
  *, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    --card-color: #181a1b; 
    --bg-color:#1c1e1f;
    --divider: #292c2e;
    --user-img-border: #464646;
    --roundedcard: 10px;
    --smalltextcolor: #9d9588;
    --bigtextcolor: #bab4ab;
    --sidebarcolor: #828490;
    --logocolor: #e8e6e3;
  }
  body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: white;
  }
  a, i {
    color: white;
  }
  ul[role='list'],
  ol[role='list'], li, ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  html:focus-within {
    scroll-behavior: smooth;
  }
  .divider {
    background-color: var(--divider);
    height: 1px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
  }
  .v-divider {
    background-color: var(--divider);
    width: 1px;
    height: 75%;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
  }
  .main-grid {
    display: grid;
    grid-template-columns: max-content minmax(500px, 1fr);
    grid-template-rows: 100px 100vh 50px;
    min-width: 800px;
  }
  
  .header {
    display: grid;
    grid-column: 2 / 4;
    grid-template-columns: 1fr min-content;
    align-items: center;
    padding: 15px;
    margin: 15px;
    border-radius: 7.5px;
    background-color: var(--card-color);
  }
  .navbar-links {
    height: 100%;
    display: flex;
    gap: 15px;
    grid-column: 1 / 2;
  }
  .user {
    display: flex;
    gap: 15px;
    grid-column: 2 / 3;
    align-items: center;
    height: 100%;
  }
  .user img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    border: 2px solid var(--smalltextcolor);
  }
  .user-info {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .header a, .header p {
    color: var(--smalltextcolor);
    font-size: 16px;
  }
  .header i {
    color: lightgreen;
  }

  .sidebar {
    background-color: var(--card-color);
    grid-row: 1 / -1;
    padding: 25px;
  }
  .sidebar .divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .upper-sidebar {
    display: grid;
    gap: 20px;
    grid-auto-rows: max-content;
  }
  .upper {
    display: flex;
    gap: 5px;
  }
  .lower-sidebar {
    display: grid;
    gap: 20px;
    grid-auto-rows: max-content;
  }
  .lower {
    display: flex;
    gap: 5px;
  }
  .sidebar h1 {
    color: var(--logocolor);
    font-weight: 600;
  }
  .sidebar i {
    color: var(--sidebarcolor);
  }
  .sidebar p {
    color: var(--smalltextcolor);
  }


  .main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 300px;
  }
  .projects {
    display: grid;
    gap: 20px;
    grid-auto-rows: min-content;
    grid-column: 1 / 2;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 15px;
  }
  .projects-title {
    grid-column: -1 / 1;
    margin-left: 15px;
  }
  .project-holder {
    background-color: var(--card-color);
    border-radius: var(--roundedcard);
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 15px;
    transition: border-color 0.5s ease, height 0.5s ease;
  }
  .project-holder > img {
    border-radius: 5px;
    height: 75px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .project-holder > h3, .project-holder > p {
    width: fit-content;
  }
  .project-holder h3 {
    margin: 0;
  }
  .projects p {
    color: var(--smalltextcolor);
  }
  .projects h2, .projects h3 {
    color: var(--bigtextcolor);
    font-weight: 500;
  }
  .projects i {
    color: var(--sidebarcolor);
    cursor: pointer;
  }
  .icons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin-top: auto;
  }

  .info-bar {
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: min-content;
  }
  .announcements {
    display: grid;
    grid-auto-rows: min-content;
    margin: 15px 20px 15px 7.5px;
  }
  .announcements-title {
    grid-column: -1 / 1;
    grid-row: -1 / 1;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .announcements-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
  }
  #announcements-holder {
    background-color: var(--card-color);
    border-radius: var(--roundedcard);
    display: grid;
    grid-auto-rows: min-content;
    padding: 15px;
  }

  .trending {
    display: grid;
    grid-auto-rows: min-content;
    margin: 15px 20px 15px 7.5px;
  }
  .trending-title {
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .trending-holder {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  #trending-holder {
    background-color: var(--card-color);
    border-radius: var(--roundedcard);
    display: grid;
    grid-auto-rows: min-content;
    padding: 15px;
  }
  .trending-text {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding-left: 15px;
  }
  .trending-image {
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
    width: 50px;
    border: 2px solid var(--smalltextcolor);
  }
  .info-bar h2, .info-bar h3 {
    color: var(--bigtextcolor);
    font-weight: 400;
  }
  .info-bar h3 {
    font-size: large;
    margin-bottom: 0;
  }
  .info-bar a, .info-bar p {
    color: var(--smalltextcolor);
  }
  .trending p:first-of-type {
    color: var(--bigtextcolor);
  }
  .trending p:first-of-type:hover {
    cursor: pointer;
    color: lightseagreen;
  }
  .info-bar a {
    text-decoration: underline;
  }

  .shadowbox {
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.282);
  }

  .upper:hover i, .upper:hover p {
    color: aquamarine;
    cursor: pointer;
  }
  .lower:hover i, .lower:hover p {
    color: palevioletred;
    cursor: pointer;
  }
  .header a:hover, .info-bar a:hover {
    color: lightskyblue;
  }
  .project-holder:hover {
    border: 1px solid lightcoral;
    height: 260px;
  }
  .project-holder i:first-of-type:hover {
    color: lightseagreen;
  }
  .project-holder i:not(:first-of-type,:last-of-type):hover {
    color: palevioletred;
  }
  .project-holder i:last-of-type:hover {
    color: lightskyblue;
  }

  #searchbar {
    background-color: var(--bg-color);
    transition: all 0.3s ease;
    padding: 5px 35px 5px 15px;
  }
  #searchbar:not(:focus),#searchbar:not(:focus):valid {
    background-color: var(--bg-color);
    background-image: url('./media/search.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 40px;
    color: transparent;
  }
  #searchbar:focus, #searchbar:valid {
    background-color: var(--bg-color);
    border: none;
    outline: none;
    color: var(--smalltextcolor);
    width: 200px;
    height: 40px;
    border-radius: 30px;
  }