  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    --card-color: #181a1b; 
    --bg-color:#1c1e1f;
    --divider: #292c2e;
    --roundedcard: 10px;
  }
  body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: white;
  }
  a, i {
    color: white;
  }
  ul[role='list'],
  ol[role='list'], li, ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  html:focus-within {
    scroll-behavior: smooth;
  }

  .main-grid {
    display: grid;
    grid-template-columns: max-content minmax(500px, 1fr);
    grid-template-rows: max-content 100%;
  }
  .header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 300px;
    padding: 15px;
    background-color: var(--card-color);
    margin: 7.5px;
  }
  .navbar-links {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
  }
  .user {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .sidebar {
    grid-row: 1 / 3;
    background-color: var(--card-color);
  }
  .upper {
    display: flex;
    gap: 5px;
  }
  .lower {
    display: flex;
    gap: 5px;
  }


  .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 300px;
  }
  .projects {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    gap: 20px;
    margin: 15px;
  }
  .projects-title {
    grid-column: -1 / 1;
  }
  .project-holder {
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    padding: 15px;
    border-radius: var(--roundedcard);
  }
  .project-holder > img {
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
  }
  .project-holder > h3, .project-holder > p {
    width: fit-content;
  }
  .icons {
    display: flex;
    gap: 5px;
    justify-content: right;
  }

  .info-bar {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: min-content;

  }
  .announcements {
    display: grid;
    grid-auto-rows: min-content;
    margin: 15px 20px 15px 7.5px;
  }
  .announcements-title {
    grid-column: -1 / 1;
    grid-row: -1 / 1;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .announcements-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #announcements-holder {
    background-color: var(--card-color);
    display: grid;
    grid-auto-rows: min-content;
    padding: 15px;
    border-radius: var(--roundedcard);
  }
  .divider {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    height: 1px;
    background-color: var(--divider);
  }

  .trending {
    display: grid;
    grid-auto-rows: min-content;
    margin: 15px 20px 15px 7.5px;
  }
  .trending-title {
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .trending-holder {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
  #trending-holder {
    background-color: var(--card-color);
    display: grid;
    grid-auto-rows: min-content;
    padding: 15px;
    border-radius: var(--roundedcard);
  }
  .trending-text {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding-left: 15px;
  }
  .trending-image {
    width: 50px;
  }